beautifulsoup4
cachetools
decorator
flask >= 2.0.0
gunicorn
intervaltree
MarkupSafe
mwapi
mwoauth
pymysql @ git+https://github.com/PyMySQL/PyMySQL@main
pyyaml
requests
requests_oauthlib
toolforge >= 6.1
