beautifulsoup4
cachetools
decorator
flake8
flask >= 2.0.0
intervaltree
mwapi
mwoauth
mypy
pytest
pyyaml
requests
requests_oauthlib
toolforge
types-beautifulsoup4
types-cachetools
types-decorator
types-requests
types-PyYAML
