{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='accesskey.css') }}">
{% endblock %}
{% block main %}
<iframe style="width: 100%; height: 70vh;" src="https://m.wikidata.org/wiki/Special:MobileDiff/{{ id }}"></iframe>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-block btn-primary" formaction="skip" accesskey="s">Skip</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-success" formaction="patrol" accesskey="p" {% if not user_can_patrol() %} disabled {% endif %}>Patrol</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-danger" formaction="rollback" accesskey="r" {% if not user_can_rollback() %} disabled {% endif %}>Rollback</button>
    </div>
  </div>
</form>
{% endblock %}
