{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='accesskey.css') }}">
<script src="{{ url_for('static', filename='accesskey.js') }}" async="true"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='diff.css') }}">
<link rel="stylesheet" href="https://www.wikidata.org/w/load.php?modules=mediawiki.legacy.shared|mediawiki.diff.styles|wikibase.common&only=styles">
{% endblock %}
{% block main %}
<h2><a href="https://www.wikidata.org/wiki/{{ title }}">{{ title }}</a></h2>
<table class="diff">
  <colgroup>
    <col class="diff-marker">
    <col class="diff-content">
    <col class="diff-marker">
    <col class="diff-content">
  </colgroup>
  <tbody>
    <tr class="diff-title">
      <td class="diff-otitle" colspan="2">
        <div>{{ old_user | user_link }}</div>
        <div><span class="comment">{{ old_comment }}</span></div>
      </td>
      <td class="diff-ntitle" colspan="2">
        <div>{{ new_user | user_link }}</div>
        <div><span class="comment">{{ new_comment }}</span></div>
      </td>
    </tr>
    {{ body }}
  </tbody>
</table>
<iframe src="https://www.wikidata.org/wiki/Special:PermanentLink/{{ id }}?useskin=minerva&useformat=desktop"></iframe>
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-block btn-primary" formaction="skip" accesskey="s">Skip</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-success" formaction="patrol" accesskey="p" {% if not user_can_patrol() %} disabled {% endif %}>Patrol</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-block btn-danger" formaction="rollback" accesskey="r" {% if not user_can_rollback() %} disabled {% endif %}>Rollback</button>
    </div>
  </div>
</form>
{% endblock %}
