{% extends "base.html" %}
{% block main %}
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="scripts">
      Which of the following scripts can you read?
      <small class="text-muted">
        Diffs in other scripts will be skipped automatically.
      </small>
    </label>
    <select multiple id="scripts" name="script" class="form-control" size="20">
      {% for script, selected in scripts | dictsort %}
      <option {% if selected %} selected {% endif %}>{{ script }}</option>
      {% endfor %}
    </select>
    {% if scripts_guessed_from_babel %}
    <small class="form-text text-muted">
      The above initial selection of scripts has been guessed from the languages in your Babel.
      Until you save the settings, edits will not be filtered by script.
    </small>
    {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
