{% extends "base.html" %}
{% block main %}
<form method="post">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="scripts">Which of the following scripts can you read?</label>
    <select multiple id="scripts" name="script" class="form-control" size="20">
      {% for script, selected in scripts | dictsort %}
      <option {% if selected %} selected {% endif %}>{{ script }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
